# This is Git's per-user configuration file.
[user]
    name = Francisco Chiang
    email = mail@fchiang.com
    signingkey = mail@fchiang.com
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[init]
    defaultBranch = master
