# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = fxchiang
#	email = fxchiang@gmail.com
[user]
	name = Chico
	email = fxchiang@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
